.site-header {
    background-color: var(--background);
    color: var(--text-primary);
    display: flex;
    flex-flow: row nowrap;
    height: 10vh;
    padding: 0 20px;
    width: 100%;
}

.navbar {
    width: 80%;
}

.navbar ul {
    display: flex;
    height: 100%;
    line-height: 10vh;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 10px;
}

.social-links {
    font-size: 1.5em;
    height: 100%;
    line-height: 10vh;
    margin: 0;
    padding: 0;
    width: 20%;
    text-align: right;
}

.social-links a {
    margin: 0 10px;
}